$primary-color: lightblue;
$secondary-color: black;

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 40%;
  }

  .btn.btn-primary.btn-block.mb-4 {
    background-color: $primary-color;
    border-color: $secondary-color;
    color: $secondary-color;
  }

  #form4Example4.form-check-input.me-2 {
    background-color: $primary-color;
    border-color: $secondary-color;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100%;

  form {
    width: 26rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
  }
}