<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bella</title>
  <link rel="icon" type="image/x-icon" href="android-chrome-192x192.png" />
  <link rel="stylesheet" href="/css/stylep.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <section class="header">
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Bella</label>
      <ul>
        <li><a href="/views/Bella.html">Home</a></li>
        <li><a href="/views/About us.html">About us</a></li>
        <li><a href="/views/services.html">Services</a></li>
        <li><a href="/views/Our clients.html">Our clients</a></li>
        <li><a href="/views/contact.html">Contact</a></li>
        <img src="/images/sun.png" id="icon">
      </ul>

    </nav>
  </section>

  <div class="text-box">
    <h1>Your hair at its best</h1>
    <p>
      A small business run with a lot of care, supported by our happy
      customers. This is our story...
    </p>
    <a href="/views/About us.html" class="About-us-btn-link">About us</a>
  </div>

  <!--The client reviews-->
  <section class="reviews">
    <h1>Reviews</h1>

    <div class="review">
      <h3>Dženan</h3>
      <p>
        The best haircuts, with good people and an overall great experience!
      </p>
    </div>
    <div class="review">
      <h3>Hana</h3>
      <p>They always manage to do exactly what I wish for!</p>
    </div>
    <div class="review">
      <h3>Namik</h3>
      <p>
        I've been cutting my hair here since I was a kid and I couldn't
        recommend them enough!
      </p>
    </div>
  </section>

  <!--The client pics for homepage-->
  <section class="picss">
    <h1><b>Our clients</b></h1>
    <div class="picss-row">
      <img src="/images/random girl3 haircut.png" alt="Random Girl Haircut" />
      <img src="/images/random guy haircut.jpg" alt="Random Guy Haircut" />
      <img src="/images/kid haircut.jpg" alt="Kid Haircut" />
    </div>
    <a href="/views/Our clients.html" class="gallery-btn-link">More clients</a>
  </section>

  <!--
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>
        Welcome to the official Bella website!
      </p>
    </div>
  </div>
-->


  <div class="FAQ">
    <h1>Frequently asked questions</h1>
  </div>


  <section class="FAQ-accordion">
    <div class="accordion-content">
      <header>
        <span class="title">Does the haircut come with a free car? I heard it does!</span>
        <i class="fa-solid fa-plus"></i>
      </header>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Delectus eum ducimus eos nostrum doloribus, perferendis ipsa
        non? Quas odit placeat amet enim quam voluptatem dolores
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title">My friend said you give free haircuts to people who give students who are good at FOFWD! Is
          that true?</span>
        <i class="fa-solid fa-plus"></i>
      </header>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Delectus eum ducimus eos nostrum doloribus, perferendis ipsa
        non? Quas odit placeat amet enim quam voluptatem dolores
      </p>
    </div>

    <div class="accordion-content">
      <header>
        <span class="title">Is it true that Ryan Reynolds gets his haircut here?!</span>
        <i class="fa-solid fa-plus"></i>
      </header>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Delectus eum ducimus eos nostrum doloribus, perferendis ipsa
        non? Quas odit placeat amet enim quam voluptatem dolores
      </p>
    </div>

  </section>
  <section class="footer">
    <div class="title-text">
      <p>CONTACT</p>
      <h1>Visit us anytime</h1>
    </div>
    <div class="footer-row">
      <div class="footer-left">
        <h1>Working hours</h1>
        <p class="footer-text">Monday to Friday - 10am to 6pm<i class="fa-solid fa-clock"></i></p>
        <p class="footer-text">Saturday - 10am to 4pm<i class="fa-solid fa-clock"></i></p>
        <p class="footer-text">Sunday - not working<i class="fa-solid fa-xmark"></i></p>
      </div>
      <div class="footer-right">
        <h1>Get in touch</h1>
        <p class="footer-text">Address: Malta 1, Sarajevo<i class="fa-solid fa-location-pin"></i></p>
        <p class="footer-text">E-mail: bella@gmail.com<i class="fa-solid fa-envelope"></i></p>
        <p class="footer-text">Phone: +387-60-684-547<i class="fa-solid fa-phone"></i></p>
      </div>
    </div>
    <div class="social-media-links">
      <a href="https://www.instagram.com/bella.f.s._?igsh=MTN0MGlyc2cxNGg5bg==" target="_blank"><i
          class="fa-brands fa-instagram"></i></a>
      <a href="https://m.facebook.com/people/frizerski-salon-Bella/100063623705613/" target="_blank"><i
          class="fa-brands fa-facebook"></i></a>
    </div>
  </section>
  <script src="/JS/script.js"></script>
  <script src="/JS/FAQ_accordion.js"></script>
</body>

</html>