
/*styles that effect the entire website*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: var(--primary-color);
}
  
/*header section*/
.header {
  /*min-height: 100vh;*/
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("/images/saloon background.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Navigation bar */
nav{
  background: transparent;
  height: 80px;
  width: 100%;
}
label.logo{
  color: #c2e2ed;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover{
  background: lightblue;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;



}

/* Text and about us button for main page*/
.text-box {
  width: 100%;
  /*color: var(--primary-color);*/
  text-align: center;
  margin-top: 5%;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;*/

}

.text-box h1 {
  font-size: 62px;
  color: var(--secondary-color)
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: var(--secondary-color);
}

.About-us-btn-link {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  border: 1px solid lightblue;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.About-us-btn-link:hover {
  border: 1px solid gray;
  background: gray;
  transition: 0.5s;
}

/*Reviews section*/
/*
.reviews {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--primary-color);
}*/
#reviews-container{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--primary-color);
}
h1 {
  padding-top:100px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
  color: var(--secondary-color)
}

.review {
  width: calc(30% - 20px);
  background: lightblue;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.review h3 {
  font-weight: 600;
  margin: 10px 0;
  color: var(--primary-color)
}

.review p {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.review:hover {
  box-shadow: 0 0 20px 0px lightslategray;
}


/*The client images for homepage*/

.picss {
  text-align: center;
}

.picss-row {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;
}

.picss-row img {
  width: 40%; 
  max-width: 30%;
  margin-right: 10px;
  height: auto;
  object-fit: cover;
}

/*Gallery button */

.gallery-btn-link {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  text-decoration: none;
  color: #222;
  border: 1px solid #131212;
  border-radius: 9px;
  padding: 12px 34px;
  font-size: 13px;
  background: rgb(104, 175, 210);
  position: relative;
  cursor: pointer;
}

.gallery-btn-link:hover {
  border: 1px solid rgb(35, 34, 34);
  border-radius:12px;
  background: rgb(139, 192, 221);
  transition: 0.5s;

}

/*footer section*/
.footer {
  padding: 20px 0 20px;
  background: var(--primary-color);
}

.footer-row {
  width: 80%;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  padding: 10px;
  margin-bottom: 20px;
}

.title-text {
  text-align: center;
  padding-bottom: 70px;
}

.footer-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-text p {
  margin: auto;
  font-size: 20px;
  color: rgb(116, 194, 220);
  font-weight: bold;
  position: relative;

  display: inline-block;
}

.title-text h1 {
  font-size: 50px;
  color: var(--secondary-color)
}

.footer-right {
  text-align: right;
}

.footer-row h1 {
  margin: 10px 0;
}

.footer-row p {
  line-height: 35px;
  color: var(--secondary-color)
}
.footer-only {
  text-align: center;
  margin: auto;
}

i.fa-solid {
  font-size: 20px;
  margin: 10px;
  color: lightblue;
}

.social-media-links {
  text-align: center;
}

i.fa-brands {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  margin: 40px 5px 0;
  color: rgb(116, 194, 220);
  cursor: pointer;
  transition: 0.5s;
}

i.fa-brands:hover {
  background: darkblue;
  color: var(--primary-color);
  transform: translatey(-7px);
}


/*About us section*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--secondary-color);
  margin-top: 5%;
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  */
}

.image-container {
  margin: 20px;
}

.content {
  margin: 40px;
  padding-right: 100px;
}

.content p {
  color: var(--secondary-color);
  font-size: 18px;
}

/* Services section*/
.services-table {
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9cm;
  min-width: 30%; /*glup sam*/
  color: var(--primary-color);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.services-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--primary-color);
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;*/
}
.services-table thead th {
  background-color: lightblue;
  color:var(--secondary-color);
  text-align: left;
  font-weight: bold;
}

.services-table th,
.services-table td {
  padding: 12px 15px;
  color: var(--secondary-color)
}

.services-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.services-table tbody tr:last-of-type {
  border-bottom: 2px solid lightblue;
}


/*Media queries for responsiveness*/

@media(max-width: 1024px){
  .text-box h1{
    font-size: 35px;
    padding-top: 20px;
  }
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav ul li a:hover{
    background: none;
    color: lightblue;
  }
  #check:checked ~ ul{
    left: 0;
  }
}


@media (max-width: 768px){

  .container{
    flex-direction: column;
    text-align: center;
  }
  .content{
    padding:0;
  }
  .reviews{
    width: 95%;
  }
}

@media (max-width: 700px){


  .text-box h1{
    font-size:25px;
    margin-top: 100px;
  }

  .text-box p{
    font-size: 12px;
    margin-bottom: 5px;
  }

  .title-text {
    padding-bottom: 20px;
  }

  .title-text h1{
    font-size: 35px;
    margin-top: 20px;
  }

  .footer{
    width: 100%;
  }

  .footer-row{
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .footer-left{
    text-align: center;
    padding: 0;
  }

  .footer-right{
    text-align: center;
    padding: 0;
  }
  .row {
    flex-direction: column;
  }
  .reviews{
    flex-direction: column;
    width: 100%;
  }
  .review{
    width:100%;
  }
  .picss-row{
    flex-direction: column;
    width: 100%;
  }
  .picss-row img{
    width: 100%;
    max-width: 100%;
  }

  .content{
    padding: 0;
    text-align: center;
  }

  .container{
    flex-direction: column;
  }
}


@media(max-width: 412px){
  .services-table-container{
    margin-top:140px;
  }
}

/*--------------------Theme switch part--------------------*/

:root{

  --primary-color: #fff ;
  --secondary-color: #222;
}

.dark-theme{
  --primary-color: #222;
  --secondary-color: #fff;
}

.index_body{
  background-color: var(--primary-color) ;
}

#icon {
  width: 30px;
  cursor: pointer;
}
/*------------Frequently asked questions-------------*/
.FAQ-accordion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--primary-color);
  overflow: hidden;
}

.accordion-content{
  max-width: 60%;
  border-radius: 4px;
  background-color: #fefafa;
  border: 1px solid #222;
  margin: 10px 0;
  overflow: hidden;
}

.accordion-content header{
  display: flex;
  min-height: 50px;
  background-color: rgb(108, 160, 175);
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;

}

.accordion-content header .title{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.accordion-content header i{
  font-size: 15px;
  color: #333;
}
.accordion-content .description{
  height: 0;
  padding: 0 15px;
  color: #333;
  font-weight: 400;
  font-size: 12px;
  transition: all 0.2s linear;

}

.FAQ{
  justify-content: center;
  text-align: center;
}

/*-----------------GALLERY PART----------------------*/

.gallery {
  margin-top: 2rem;
  text-align: center;
  padding: 10px;
}

.gallery h2 {
  color: #fff;
  font-size: 42px;
}

.photo-word {
  color: lightblue;
}

.gallery > div {
  columns: 3;
  gap: 1.25rem;
  padding-top: 1.25rem;
}

.gallery img {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1.25rem;
}

.gallery img {
width: 100%;
cursor: pointer;
}

.imageWrapper {
width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 0.9);
position: fixed;
top: 0;
left: 0;
display: none;
justify-content: center;
align-items: center;
z-index: 100;
}

.imageWrapper img {
width: 90%;
max-width: 500px;
}

.imageWrapper span {
position: absolute;
top: 5%;
right: 5%;
font-size: 30px;
font-family: sans-serif;
color: #fff;
cursor: pointer;
}


@media (max-width: 48rem) {
.gallery > div {
    columns: 2;
}
}

@media (max-width: 32rem) {
.gallery > div {
    columns: 1;
}
}

/*---------------content toggle button--------------*/
.content_toggle_btn{
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  text-decoration: none;
  color: #222;
  border: 1px solid #131212;
  border-radius:9px;
  padding: 12px 34px;
  font-size: 13px;
  background: rgb(104, 175, 210);
  position: relative;
  cursor: pointer;
}

.content_toggle_btn:hover {
  border: 1px solid rgb(35, 34, 34);
  border-radius:12px;
  background: rgb(139, 192, 221);
  transition: 0.5s;
}


/*------------Contact form part------------*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top:50px;
}

.form-c {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
  width: 60%;
}

#contactForm {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"],
form button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form button[type="submit"] {
  background-color: lightblue;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: rgb(88, 200, 238);
  transition: 1s;
}

#passwordStrength {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.error {
  color: rgb(212, 64, 64);
  font-size: 12px;
}


/*--------------Location API part---------------*/
.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:60%;
  margin-bottom:50px;
}

.location-container h1 {
  color: lightblue;
  padding-top: 30px;
}

.location {
  margin-bottom: 50px;
  border-radius: 24%;
  border: 4px solid var(--primary-color);
  width: 340px;
  height: 340px;
}

/*------------ media queries for contact.html--------------*/
@media (max-width: 1050px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .form-c,
  .location-container {
    width: 100%;
  }

  .location {
    width: 340px;
    height: 340px;
  }
}

/*------------------Review form part--------------------*/
.Review_c {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding: 0px 20px 20px 20px;
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Review_c h1 {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  color: lightblue;
}

.Review_c form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Review_c input[type="text"] {
  padding: 10px;
  font-size: 14px;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
}

.Review_c input[type="text"]:focus {
  outline: none;
  border-color: lightblue;
}

.Review_c button {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  color: var(--secondary-color);
  background-color: lightblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 35%;
}

.Review_c button:hover {
  background-color: rgb(112, 206, 237);
  transition: 1s;
}

.review-text{
  color: var(--secondary-color);
  text-align: center;
}

#reviewForm{
  width:90%;
  align-items: center;
  justify-content: center;

}

.success-message {
  color: gray;
  margin-top: 10px;
}

.button-container{
  display:flex;
  align-items: center;
  justify-content: center;
}