.services-table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9cm;
    min-width: 30%; 
    color: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .services-table-container {
    display: flex;
    justify-content: center;
  }
  .services-table thead th {
    background-color: lightblue;
    color: black;
    text-align: left;
    font-weight: bold;
  }
  
  .services-table th,
  .services-table td {
    padding: 12px 15px;
  }
  
  .services-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .services-table tbody tr:last-of-type {
    border-bottom: 2px solid lightblue;
  }
  