<div class=container>

  <div class="image-container">
    <img src="/images/anonymus.png" alt="Anonymus" />
  </div>


  <div class="content">
    <p>
      "I have always had a passion to be the owner of a beauty salon, which
      will provide a wide range of services and cosmetics for all ages.
      With the current team, made up of more than ten professionals,
      Bella will continue to grow and expand, both in terms
      of staff and the tendency to become a franchise, a salon that will be
      recognizable across Europe. I am very proud of everything we have
      achieved so far. By creating jobs and seizing the opportunity for
      improvement, we contribute to the community. Our database of satisfied
      clients crosses the borders of Bosnia and Herzegovina. Together with
      the "Bella" team, I invite you to visit our salon and go through a
      unique experience...“
    </p>
  </div>
</div>
</div>