<div class="text-box">
  <h1>Your hair at its best</h1>
  <p>
    A small business run with a lot of care, supported by our happy
    customers. This is our story...
  </p>
  <!--<a href="/views/about_us_link.html" class="About-us-btn-link">About us</a>-->
</div>

<div class="reviews">
  <h1>Reviews</h1>
  <div id="reviews-container"></div>
</div>


<!--The client pics for homepage-->
<div class="picss">
  <h1><b>Our clients</b></h1>
  <div class="picss-row">
    <img src="/images/random girl3 haircut.png" alt="Random Girl Haircut" />
    <img src="/images/random guy haircut.jpg" alt="Random Guy Haircut" />
    <img src="/images/kid haircut.jpg" alt="Kid Haircut" />
  </div>
  <button class="gallery-btn-link" onclick="redirectToViewMore()">More clients</button>
</div>

<script src="/JS/view_more.js"></script>


<div class="FAQ">
  <h1>Frequently asked questions</h1>

  <button class="content_toggle_btn">Show</button>
</div>

<div class="FAQ-accordion" style="display: none;">
  <div class="accordion-content">
    <header>
      <span class="title">Does the haircut come with a free car? I heard it does!</span>
      <i class="fa-solid fa-plus"></i>
    </header>
    <p class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Delectus eum ducimus eos nostrum doloribus, perferendis ipsa
      non? Quas odit placeat amet enim quam voluptatem dolores
    </p>
  </div>

  <div class="accordion-content">
    <header>
      <span class="title">My friend said you give free haircuts to people who are good at FOFWD! Is
        that true?</span>
      <i class="fa-solid fa-plus"></i>
    </header>
    <p class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Delectus eum ducimus eos nostrum doloribus, perferendis ipsa
      non? Quas odit placeat amet enim quam voluptatem dolores
    </p>
  </div>

  <div class="accordion-content">
    <header>
      <span class="title">Is it true that Ryan Reynolds gets his haircut here?!</span>
      <i class="fa-solid fa-plus"></i>
    </header>
    <p class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Delectus eum ducimus eos nostrum doloribus, perferendis ipsa
      non? Quas odit placeat amet enim quam voluptatem dolores
    </p>
  </div>
</div>


<script src="/JS/FAQ_accordion.js"></script>
<script src="/JS/reviews_json.js"></script>
<script src="/JS/content_toggle_acc.js"></script>