<div class="imageWrapper" id="wrapper">
    <img id="fullImg" src="placeholder.jpg" alt="Placeholder Image">
    <span>X</span>
</div>


<div class="gallery">
    <h2><span class="photo-word">Our</span> Clients</h2>
    <div>
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">
        <img src="/images/Ryan_Reynolds.jpg">

    </div>
</div>




<script src="/JS/gallery.js"></script>