<div class="services-table-container">
  <table class="services-table">
    <thead>
      <th>Service</th>
      <th>Price</th>
    </thead>

    <tbody>
      <tr>
        <td>Ladies cut</td>
        <td>30 KM</td>
      </tr>
      <tr>
        <td>Mens cut</td>
        <td>15 KM</td>
      </tr>
      <tr>
        <td>Hair dyeing</td>
        <td>30 KM</td>
      </tr>
      <tr>
        <td>Beard</td>
        <td>5 KM</td>
      </tr>
      <tr>
        <td>Blow-drying</td>
        <td>20 KM</td>
      </tr>
    </tbody>
  </table>
</div>