.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

#dialog-title{
    display: flex;
    align-items: center;
    justify-content: center;
}